<div class="container">
  <h1>FizzBuzz Generator</h1>
  <div class="form-group">
    <label for="randomNumber">Número Inicial (Generado Aleatoriamente)</label>
    <input id="randomNumber" type="number" [value]="randomNumber" readonly />
    <button class="generate-btn" (click)="generateRandomNumber()">Generar Nuevo Número</button>
  </div>

  <div class="form-group">
    <label for="limit">Límite</label>
    <input id="limit" type="number" [(ngModel)]="limit" placeholder="Ingresa el límite (ej. 100)" />
  </div>

  <button class="submit-btn" (click)="sendData()">Enviar</button>

  <div *ngIf="result?.length" class="result">
    <h2>Resultado FizzBuzz:</h2>
    <ul>
      <li *ngFor="let item of result">{{ item }}</li>
    </ul>
  </div>
</div>


<router-outlet />
